.footer {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include max-576 {
    margin: 16px auto;
  }

  &__author {
    width: 100px;
    font-size: 20px;
    transition: 0.5s;

    @include max-576 {
      width: 80px;
      font-size: 16px;
    }

    &:hover {
      color: #000000;
    }
  }

  &__year {
    width: 100px;
    font-size: 20px;
    text-align: center;

    @include max-576 {
      width: 80px;
      font-size: 16px;
    }
  }

  &__rs-logo {
    width: 100px;

    img {
      width: 100%;
    }

    @include max-576 {
      width: 80px;
    }
  }
}
