.header {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	z-index: 1000;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	background-color: #ffffff;
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
	overflow: hidden;

	@include max-768 {
		flex-direction: column;
	}

	&__logo {
		width: 120px;
		flex-shrink: 0;

		img {
			width: 120px;
		}
	}

	&__menu {
		height: 100%;
		display: flex;
		flex-shrink: 2;
		gap: 30px;

		@include max-576 {
			flex-direction: column;
			align-items: center;
			gap: 0;
		}

		&-item {
			height: 100%;
			display: flex;
			align-items: center;

			a {
				display: block;
				box-sizing: border-box;
				padding: 6px 0;
				color: $color-accent-green;
				border-bottom: 3px transparent solid;
				transition: 0.4s;
			}
		}
	}
}
