.header {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  overflow: hidden;

  @include max-768 {
    flex-direction: column;
    gap: 10px;
  }

  @include max-576 {
    flex-direction: row;
  }

  &__brand {
    display: flex;
    color: $color-grey;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    position: relative;
    z-index: 10;

    p {
      font-size: 30px;
    }
  }

  &__logo {
    width: 40px;
    flex-shrink: 0;

    img {
      width: 40px;
    }
  }

  &__burger {
    &-icon {
      display: none;

      @include max-576 {
        display: block;
        padding: 10px;
        width: 20px;

        &:hover {
          cursor: pointer;
        }
      }

    }

    &-close-btn {
      position: absolute;
      top: 16px;
      right: 10px;
      padding: 10px;
      width: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    &-menu {
      visibility: hidden;
      opacity: 0;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 9;
      padding: 80px 20px 30px;
      background-color: #ffffffe7;
      transition: .5s;

      .header__menu {
        display: flex;
        flex-direction: column;

        &-item {
          justify-content: center;
        }
      }

      &.active {
        visibility: visible;
        opacity: 1;

      }
    }
  }

  &__lang {
    display: flex;
    gap: 10px;
  }

  &__menu {
    height: 100%;
    display: flex;
    flex-shrink: 2;
    gap: 30px;

    @include max-576 {
      display: none;
    }

    &-item {
      height: 100%;
      display: flex;
      align-items: center;

      a {
        display: block;
        box-sizing: border-box;
        padding: 6px 0;
        color: $color-grey;
        border-bottom: 3px transparent solid;
        transition: 0.4s;

        &:hover {
          cursor: pointer;
          color: #fd932c;
        }

        @include max-576 {
          padding: 4px 0;
        }
      }
    }
  }
}
