.top-background {
    margin-top: 80px;
    height: 386px;
    background-image: url("./../assets/images/panda-main-page.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.help {
    @include background-orange-gradient;
    padding: 40px 0 180px;

    &__title {
        color: #fff;
        margin-bottom: 10px;
    }

    &-image {
        margin-bottom: 30px;
        width: 168px;
        height: 168px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid $color-accent2;
    }

    &__second-title {
        margin: 46px 0 60px;
        color: $color-accent2;
        text-align-last: left;
    }

    &__content {
        background: rgba(253, 253, 255, 0.52);
        border-radius: 20px;
        padding: 40px 92px 62px;
    }

    &-picture {
        max-width: 284px;
    }

    &-multiply {
        padding-top: 130px;
        margin: 0 64px 0 11px;
    }
}

&__range {
    &-title {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 140%;
        color: #000000;
    }

    &-background {
        box-sizing: border-box;
        padding: 9px 25px;
        height: 27px;
        background: #404950;
        border-radius: 2px;
        position: relative;
    }

    &-input {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        margin: 0;
        height: 2px;
        background: transparent;
        outline: none; /* Remove outline */
        position: absolute;
        left: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 40px;
            height: 40px;
            border: 0;
            border-radius: 50%;
            background-image: url("./../../../../assets/icons/roller_icon.svg");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 40px;
            height: 40px;
            border: 0;
            border-radius: 50%;
            background-image: url("./../../../../assets/icons/roller_icon.svg");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

    &-line {
        position: absolute;
        top: 50%;
        left: 25px;
        right: 25px;
        transform: translateY(-50%);
        margin: 0;
        height: 2px;
        padding: 0 25px;
        box-sizing: border-box;
        background-color: #72828e;
    }

    &-marks {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        box-sizing: border-box;
    }

    &-mark {
        //   &-outer {
        //     width: 40px;
        //     height: 40px;
        //   }

        width: 10px;
        height: 10px;
        left: 286px;
        top: 508px;
        background: #ffee2e;
        border-radius: 50%;
    }

    &-numbers {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 140%;
    }

    &__counter {
        margin-bottom: 44px;
        margin-right: 14px;
        display: flex;
        justify-content: center;

        &__amount {
            margin: 50px auto 25px;
            display: flex;
            justify-content: center;

            &-input::-webkit-outer-spin-button,
            &-input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &__range {
                &-title {
                    margin-bottom: 17px;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 140%;
                    color: #000000;
                }

                &-background {
                    box-sizing: border-box;
                    padding: 9px 25px;
                    height: 27px;
                    background: #404950;
                    border-radius: 2px;
                    position: relative;
                }

                &-input {
                    -webkit-appearance: none; /* Override default CSS styles */
                    appearance: none;
                    margin: 0;
                    height: 2px;
                    background: transparent;
                    outline: none; /* Remove outline */
                    position: absolute;
                    left: 10px;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 40px;
                        height: 40px;
                        border: 0;
                        border-radius: 50%;
                        background-image: url("./../../../../assets/icons/roller_icon.svg");
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }

                    &::-moz-range-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 40px;
                        height: 40px;
                        border: 0;
                        border-radius: 50%;
                        background-image: url("./../../../../assets/icons/roller_icon.svg");
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }
                }

                &-line {
                    position: absolute;
                    top: 50%;
                    left: 25px;
                    right: 25px;
                    transform: translateY(-50%);
                    margin: 0;
                    height: 2px;
                    padding: 0 25px;
                    box-sizing: border-box;
                    background-color: #72828e;
                }

                &-marks {
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    display: flex;
                    justify-content: space-between;
                    padding: 0 25px;
                    box-sizing: border-box;
                }

                &-mark {
                    //   &-outer {
                    //     width: 40px;
                    //     height: 40px;
                    //   }

                    width: 10px;
                    height: 10px;
                    left: 286px;
                    top: 508px;
                    background: #ffee2e;
                    border-radius: 50%;
                }

                &-numbers {
                    margin-top: 12px;
                    display: flex;
                    justify-content: space-between;
                    font-weight: 500;
                    font-size: 2.6rem;
                    line-height: 140%;
                }

                &-number {
                    width: 72px;
                    display: flex;
                    justify-content: center;
                    font-size: 2.6rem;
                    line-height: 140%;
                }
            }
        }

        &__radio {
            display: flex;
            justify-content: center;
        }

        &__bottom-text {
            text-align: center;
        }

        &__button {
            margin: 31px auto 30px;
        }
    }
}
