body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 12px;
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 12px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}

footer .copyright a {
    color: #444;
}

footer .copyright a:hover {
    color: #555;
}

footer .copyright:before {
    content: '©';
}

.footer__logo {
    width: 120px;
}

.footer__logo {
    color: #fff;
}

.footer__logo img {
    fill: currentColor;
}

.footer__github {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__github-icon img {
    width: 30px;
    fill: #fff !important;
}

.footer__github-link {
    color: #fff;
    text-decoration: none;
    transition: 0.7s;
}

.footer__github-link:hover {
    color: rgba(255, 255, 255, 0.51);
}
