.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: #000;
	color: #fff;
	font-size: 1.6rem;
	z-index: 100;

	@include max-840 {
		height: 34px;
	}

	@include max-840 {
		position: fixed;
	}

	&__wrapper {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		margin-right: 63px;

		@include max-840 {
			display: none;
		}

		&--mobile {
			display: none;

			@include max-840 {
				display: block;
				width: 47px;
			}
		}
	}

	&__burger-menu {
		display: none;

		@include max-840 {
			display: flex;
			flex-direction: column;
			gap: 2px;

			height: 10px;
			width: 18px;
		}

		&-elem {
			height: 2px;
			width: 100%;
			background-color: #fff;
			border-radius: 2px;
		}
	}

	&__nav {
		display: flex;
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 58px;

		@include max-1000 {
			gap: 48px;
		}

		@include max-840 {
			display: none;
		}

		&-link {
			color: #fff;
			transition: 0.7s;

			&--active,
			&:hover {
				color: $color-accent;
			}
		}

		&-burger {
			$burger: &;
			opacity: 0;
			visibility: hidden;
			z-index: -3;
			transition: 1s;
			display: flex;
			flex-flow: column;

			&-content {
				padding: 10px;
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				background-color: #fff;
				z-index: -3;
			}

			&-background {
				flex: 1;
			}

			&-cross {
				position: absolute;
				right: 0;
				top: 0;
				width: 18px;
				padding: 12px 20px;
				display: flex;
				flex-direction: column;
				gap: 4px;

				transition: 0.7s;

				@include max-576 {
					padding: 12px 10px;
				}

				&-elem {
					height: 2px;
					width: 100%;
					background-color: $color-accent2;
					border-radius: 2px;
					transition: 1s;
				}
			}

			&-logo {
				width: 65px;
				margin-bottom: 20px;
			}

			&-items {
				display: flex;
				flex-direction: column;
				gap: 15px;
				margin: 0 0 10px 3px;
			}

			&-item {
				&.active {
					color: $color-accent2;
				}
			}

			&.active {
				opacity: 1;
				visibility: visible;
				display: flex;
				z-index: 100;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.555);

				#{ $burger }-cross {
					&-top-elem {
						transform: rotate(45deg);
						transform-origin: top left;
					}

					&-middle-elem {
						transform: rotate(45deg) translate(-2px, 2.5px);
					}

					&-bottom-elem {
						transform: rotate(-45deg);
						transform-origin: bottom left;
					}
				}
			}
		}
	}

	&__copyright {
		@include max-840 {
			display: none;
		}

		a {
			color: #fff;
			transition: 0.7s;

			&:hover {
				color: $color-accent;
			}
		}
	}
}
