.button {
  display: block;
  width: 140px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 30px;
  color: $color-accent-light;
  background-color: $color-accent-blue;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
  border-radius: 24px;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #2681a8c0;
  }

  &:disabled {
    background-color: rgb(119, 119, 119);
    color: #fff;

    &:hover {
      cursor: default;
      background-color: rgb(119, 119, 119);
    }
  }
}
