.button {
  width: 160px;
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 12px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  background-color: $color-accent-blue;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #2681a8c0;
  }

  &:disabled {
    background-color: rgb(119, 119, 119);
    color: #fff;

    &:hover {
      cursor: default;
      background-color: rgb(119, 119, 119);
    }
  }
}
