.button {
  margin: 0 auto;
  width: 298px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 140%;
  color: #ffffff;
  border-radius: 25px;
  background: $background-accent;

  &:hover {
    cursor: pointer;
  }

  &--round {
    height: 62px;
    width: 62px;
    border-radius: 50%;
    position: relative;

    img {
      width: 22px;
    }
  }

  &--right {
    transform: rotate(180deg);
  }
}
