@import './../abstract/mixins';
@import './../abstract/variables';

@import './../base/normalize';
@import './../base/fonts';
@import './../base/headings';
@import './../base/text';

@import './../layout/basic';
@import './../layout/header';
@import './../layout/footer';

@import './../components/buttons';

.question {
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffffbb;
  box-shadow: 0 0 10px #3d3d3d83;

  @include max-576 {
    padding: 18px 16px;
  }

  &__info {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

    &-item {
      white-space: nowrap;
      font-size: 14px;

      @include max-768 {
        display: none;
      }

      &.current {
        padding: 10px 14px;
        font-size: 15px;
        border-radius: 12px;
        box-shadow: 0 0 5px 0px #00000060;
        background-color: #fff0d1;

        @include max-768 {
          display: block;
        }
      }
    }
  }

  &__data {
    display: flex;
    gap: 16px;
  }

  &__score {
    margin-right: 20px;
    white-space: nowrap;
  }

  &__number {
    font-size: 16px;
  }

  &__body {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    gap: 30px;

    @include max-576 {
      flex-direction: column;
    }

    &-picture {
      width: 200px;
      height: 150px;
      border-radius: 16px;
      overflow: hidden;
      flex-shrink: 3;

      @include max-768 {
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      flex: 1;

      @include max-768 {
        gap: 10px;
      }
    }

    &-name {
      font-size: 26px;

      @include max-768 {
        text-align: center;
      }
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    gap: 30px;

    @include max-768 {
      flex-direction: column;
    }
  }

  &__answers {
    flex: 1 1 50%;
    border-radius: 16px;
    background-color: #fd932c;

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-input {
      appearance: none;

      &:checked {
        & + label {
          position: relative;
          z-index: 10;
          background-color: #ffa041;
          border-radius: 16px;
          box-shadow: 0 0 3px 3px rgba(85, 85, 85, 0.185);
        }
      }
    }

    &-label {
      padding: 18px 40px;
      display: flex;
      align-items: center;
      color: #ffffff;
      font-size: 16px;
      background-color: #fd932c;
      border-radius: 16px;
      transition: 0.5s;

      &.success {
        position: relative;

        &::before {
          content: '';
          width: 18px;
          height: 20px;
          background-image: url('./../../assets/images/check.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          left: 16px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &.wrong {
        position: relative;

        &::before {
          content: '';
          width: 18px;
          height: 20px;
          background-image: url('./../../assets/images/xmark.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          left: 14px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &:hover {
        cursor: pointer;
        position: relative;
        z-index: 10;
        box-shadow: 0 0 10px 2px rgba(53, 53, 53, 0.55);
      }
    }
  }

  &__description {
    flex: 1 1 50%;

    &-middle {
      margin: 16px 0;
      display: flex;
      align-items: center;
      gap: 14px;

      @include max-576 {
        flex-direction: column;
      }
    }

    &-picture {
      width: 200px;
      height: 150px;
      border-radius: 16px;
      overflow: hidden;

      @include max-576 {
        width: 100%;
        height: 180px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-name {
      font-size: 18px;

      @include max-576 {
        text-align: center;
      }
    }

    .player {
      gap: 8px;

      &__time {
        font-size: 16px;
      }
    }
  }

  &__buttons {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;

    @include max-576 {
      margin-top: 30px;
    }
  }
}

.player {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 10px;

  @include max-576 {
    padding: 0;
    gap: 6px;
  }

  &__play-btn {
    padding: 0;
    margin: 0;
    background: 0;
    border: 0;
    cursor: pointer;
  }

  &__play-icon {
    width: 20px;
    position: relative;

    @include max-576 {
      width: 16px;
    }

    &.playing {
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('./../../assets/images/pause.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @include max-576 {
          width: 16px;
          height: 16px;
        }
      }
    }

    &.paused {
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('./../../assets/images/play.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @include max-576 {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &__time {
    display: flex;
    gap: 3px;
  }

  &__search-container {
    flex: 1;
  }

  &__volume-container {
    min-width: 60px;
    flex: 0.3;

    @include max-576 {
      flex: 0.5;
    }
  }

  &__search,
  &__volume {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    background: 0;
    overflow: hidden;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 0;
      height: 0;
      border: 0;
      box-shadow: -10000px 0 0 10000px #fd932c;
      background: $color-accent-light;
      z-index: 10;
      position: relative;
    }

    &::-moz-range-thumb {
      margin-top: -8px;
      appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 0;
      box-shadow: -10000px 0 0 10000px $color-accent-blue;
      background: $color-accent-light;
      z-index: 10;
    }

    &::-webkit-slider-runnable-track {
      height: 8px;
      background: #626262a8;
    }

    &::-moz-range-track {
      height: 8px;
      background: #626262a8;
    }
  }

  &__volume-icon {
    width: 20px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &.high {
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('./../../assets/images/volume-high.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.low {
      &::before {
        content: '';
        width: 14px;
        height: 20px;
        background-image: url('./../../assets/images/volume-low.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.muted {
      &::before {
        content: '';
        width: 18px;
        height: 20px;
        background-image: url('./../../assets/images/volume-xmark.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.result {
  margin: 60px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
