@import './../abstract/variables';
@import './../abstract/mixins';

@import './../base/normalize';
@import './../base/fonts';
@import './../base/headings';
@import './../base/text';

@import './../layout/basic';
@import './../layout/header';
@import './../layout/footer';

@import './../components/buttons';

.question {
  display: flex;
  flex-wrap: wrap;

  &__score {
    margin-right: 20px;
  }

  &__number {
    font-size: 16px;
  }

  &__body {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    gap: 30px;

    &-picture {
      width: 200px;
      height: 150px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    gap: 30px;
  }

  &__answers {
    flex: 1 1 50%;

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-input {
      appearance: none;

      &:checked {
        & + label {
          position: relative;
          z-index: 10;
          color: $color-accent-blue;
          background-color: $color-accent-light;
          box-shadow: 0px 0px 10px 2px rgba(53, 53, 53, 0.55);
        }
      }
    }

    &-label {
      padding: 18px 22px;
      display: flex;
      align-items: center;
      color: $color-accent-light;
      font-size: 16px;
      background-color: $color-accent-blue;
      transition: 0.5s;

      &.success {
        z-index: 9;
        color: $color-accent-light !important;
        background-color: $color-accent-green !important;
        box-shadow: 0px 0px 10px 2px rgba(53, 53, 53, 0.55);
      }

      &:hover {
        cursor: pointer;
        position: relative;
        z-index: 10;
        box-shadow: 0px 0px 10px 2px rgba(53, 53, 53, 0.55);
      }
    }
  }

  &__description {
    flex: 1 1 50%;

    &-top {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &-picture {
      width: 200px;
      height: 150px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__buttons {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}
