<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/x-icon" href=<%=
    require("./../assets/images/bird-icon.png") %>>
  </head>

  <body>
    <header class="header wrapper">
      <div class="header__brand">
        <a href="/" class="header__logo">
          <img src=<%= require("./../assets/images/bird-icon.png") %>
          alt="Songbird" />
        </a>
        Songbird
      </div>
      <ul class="header__menu">
        <li class="header__menu-item header__lang">
          <a id="lang-ru">ru</a> /
          <a id="lang-en">en</a>
        </li>
        <li class="header__menu-item"><a href="./main.html">Главная</a></li>
        <li class="header__menu-item"><a href="./quiz.html">Викторина</a></li>
      </ul>
    </header>
    <main class="wrapper main">
      <div class="question">
        <div class="question__info">
          <div class="question__list"></div>
          <div class="question__data">
            <div class="question__score"></div>
            <div class="question__number"></div>
          </div>
        </div>
        <div class="question__body"></div>
        <div class="question__bottom">
          <div class="question__answers"></div>
          <div class="question__description"></div>
        </div>

        <div class="question__buttons"></div>
      </div>
    </main>
  </body>
</html>
