/* Colors */

$color-black: #000;
$color-accent: #f9804b;
$color-accent2: #fe9013;
$background-accent: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$background-accent2: linear-gradient(113.96deg, #f9804b 1.49%, #f9804b 101.44%);
$color-yellow: #ffee2e;
$color-red: #d31414;
$text-color: #333b41;
$color-light-gray: #f1f3f2;
$color-green: #4b9200;
$background-green: linear-gradient(113.96deg, #4b9200 1.49%, #4b9200 101.44%);
$gradient-pink: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);

/* Fonts */

$font-main: 'Roboto', Arial, Helvetica, sans-serif;
