/* Colors */

$color-black: #000;
$color-accent: #f9804b;
$background-accent: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$color-yellow: #ffee2e;
$text-color: #333b41;

/* Fonts */

$font-main: "Roboto", Arial, Helvetica, sans-serif;
